<div class="card">
  <div class="card-header">
    <h3 class="card-title">Matriz Curricular</h3>
  </div>
  <div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap">
      <thead>
        <tr>
          <th>Nome</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @matrix.each do |matrixC| %>
            <td><%= matrixC.name %></td>
          <% end %>
          <td class="text-right">
            <div class="dropdown">
              <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Gerenciar</button>
            </div>
          </td>                
        </tr>
      </tbody>
    </table>
  </div>
</div>