 <% provide(:page_title, 'Period ') %>

<% breadcrumb :show_period, @periods %>

<p>
  <strong>name</strong>
  <%= @period.name %>
</p>

<p>
  <strong>matrix</strong>
  <%= @period.matrix.name %>
</p>

<p>
  <strong>created_at</strong>
  <%= @period.created_at %>
</p>


<div class="d-flex">
  <%= link_to "Voltar", admins_periods_path, class: 'btn btn-link' , title: 'Voltar para lista de Períodos'%>
</div>
