
<%= simple_form_for(@periods) do |f| %>

    <%= f.input :name %>
  
  div class="d-flex">
    <%= link_to "Voltar", admins_periods_path, class: 'btn btn-link' %>
    <%= f.button :submit %>
  </div>
<% end %>
