<% provide(:page_title, 'Mostrar Matriz do Curso de TSI') %>

<p>
  <strong>Name:</strong>
  <%= @matrices.name %>
</p>

<%= link_to 'Edit', edit_admins_matrix_path(@admins_matrix) %> |
<%= link_to 'Back', admins_matrices_path %>
