 <% provide(:page_title, 'Matrix ') %>
 <% breadcrumb :show_matrix, @matrices %>

<p>
  <strong>Name:</strong>
  <%= @matrix.name %>
</p>

 <div class="d-flex">
    <%= link_to "Voltar", admins_matrices_path, class: 'btn btn-link' %>
  </div>
